@charset "utf-8";

/*Глобальное обнуление отступов и полей.*/
*{
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
    color:#000000;
}
a:active,
a:hover{
    color:#dc143c;
    text-decoration:none;
}

#page {
    min-width: 970px;
}

/*Page_Header, Меню "Разделы"*/
header#page_header,
aside#menu{
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    box-shadow: 0 5px 5px #c8c8c8;
    background-color:#d9d9d9;
}

/*Page_Header*/
header#page_header {
    height:30px;
    padding-top:10px;
    padding-left:20px;
    margin-bottom:20px;
    display:block;
}

/*Меню "Разделы"*/
aside#menu {
    width: 200px;
    padding: 10px 0 10px 20px;
    display: inline-block;
    float: left;
}

aside#menu li {
    list-style: square;
}
/*----*/

section#page_content {
    margin-left:20px;
    display:inline-block;
}