@charset "utf-8";

/*Меню*/
#menu_qa {
    margin-left:10px;
}

#menu_qa a:link{
    display: block;
    font-family: monospace;
    font-size: 14px;
    text-decoration: none;
}

#menu_qa a.selected {
    background-color: white;
}
/*----*/

.bottom-radius {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 5px 5px #c8c8c8;
}

/*Список отзывов*/
table#reviews {
    padding: 5px 5px 15px 5px;
    background-color: #d9d9d9;
}

#reviews thead {
    background-color:#6495ed;
}

#reviews td {
    padding: 5px;
}

tr.mouseover {
    background-color: white;
}

#reviews tr {
    cursor: pointer;
}

#reviews tr.show {
    cursor: default;
}

#reviews tr.show td {
    margin-bottom: 20px;
    background-color:#ffffff;
}
/*----*/