#prices {
	margin: 5px;
	width: 100%;
}

div.more table {
	width: 100%;
}

div.buttons {
	cursor: pointer;
}

div.buttons h2 {
	display: inline-block;
	margin: 0 10px 0 0;
}

div.buttons a {
	font-size: 10px;
}

div.buttons a:hover {
	font-size: 10px;
	font-style: italic;
	text-shadow: 5px 5px 5px #bdbdbd;
}

div.more {
	display: none;
}
