{% extends "adminpanel/module.html" %}

{% block page_head %}
    <link rel="stylesheet" type="text/css" href="/media/css/adminpanel/qa.css"/>
    <script type="text/javascript" src="/media/js/admin/qa.js"></script>
{% endblock %}

{% block module_header %}
    Вопрос-Ответ
{% endblock %}

{% block module_body %}
    <table id="reviews">
        <tr><td>№</td><td>Дата</td><td>Имя пользователя</td><td>Текст отзыва</td><td></td></tr>
    {% ifequal action 'view.all' %}
            {% for r in review_list %}
                <tr>
                    <td id="id">{{ r.id }}</td>
                    <td>{{ r.date }}</td>
                    <td>{{ r.owner_name }}</td>
                    <td>{{ r.text }}</td>
                    <td id="action">|<a action="delete" href="#reviews">удалить</a>|<a action="show" href="#reviews">показать</a>|</td>
                </tr>
                <tr class="show"></tr>
            {% endfor %}
    {% endifequal %}
    {% ifequal action 'view.selected' %}
        
    {% endifequal %}
    </table>
{% endblock %}