html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}

body {
  background-image: url("/media/media/bg_image.jpg");
  color: #FFFFFF;
}

#leftside {
  display: inline-block; width: 330px; margin: 10px 0 10px 10px;
}

#rightside {
  display: inline-block; width:65%;m height: 100%;
  position: absolute;
  top: 0; left: 340px;
  vertical-align: top;
  margin: 100px 0 10px 0;
}

#content {
  color: #000000;
  width: 100%;
  background-color: #ffffff;
  padding: 15px 15px 15px 25px;
  
  -moz-box-shadow:inset 0 0 10px #000000;
  -webkit-box-shadow:inset 0 0 10px #000000;
  box-shadow:inset 0 0 15px #B00000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#menu {
  margin: 0 0 5px 0;
}

#menu li {
  display: inline-block;
  list-style-type: none;
}

.link {
  text-decoration: none;
  margin: 0 5px 5px 0;
  color: #ffffff;
}