html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}
@font-face {font-family: 'Fabryka4FMedium';
  src: url('/media/webfonts/eot/style_187672.eot');
  src: url('webfonts/eot/style_187672.eot?#iefix') format('embedded-opentype'),
  url('webfonts/woff/style_187672.woff') format('woff'),
  url('webfonts/ttf/style_187672.ttf') format('truetype'),
  url('webfonts/svg/style_187672.svg#Fabryka4FMedium') format('svg');
}
body {background: fixed url('/media/media/003.jpg'); color: #303030;}
#body {width: 970px; margin: 20px auto 20px;}
#header {background-color: #D83636; padding:  5px 5px 5px 10px;}
#header p {
  font-size: 1.2em; font-family: serif; color: #FFFFFF; display: inline-block;
  vertical-align: 150%;
}
#header section { margin: 5px; float: right;}
#header section p {display: block; font-size: .8em;}
#header section p.info_header {font-weight: bold;}
#center {background-color: rgba(216, 97, 97, 0.5);}
#content {display: inline-block; width: 750px; padding: 10px;}
/* Global menu */
#menu {width: 195px; display: inline-block; margin: 50px 0 0 0; vertical-align: top;}
#menu a {
  display: block; margin: 10px 0 10px 0; font-family: 'Fabryka4FMedium', serif;
  color: #FFF; font-weight: bold; font-size: 1em; text-decoration: none;
}
#menu a:hover {padding-left: 10px;}
/* --- */
#line {background-color: #D83636; height: 50px;}
#body > footer {background-color: #B00000; padding: 5px; color: #FFF;}
a {color: #FFFFFF;}