@charset "utf-8";

/*Глобальное обнуление отступов и полей.*/
*{
  margin: 0;
  padding: 0;
}

header,
nav,
section,
article,
aside,
footer {
  display: block
}

body {
  background: #040200 url('/media/media/body_bg.png') no-repeat fixed;
  width: 900px;
  margin: auto;
}

/*---Логотип---*/
header#logo {
  width:100%;
  height: 200px;
}

/*---Страница---*/
#page_body {
  width: 100%;
  background-image: url("/media/media/page_bg.png");
  background-position: 0px -2px;
  /*background-attachment: fixed;*/
  border: 1px solid #000000;
  box-shadow: -5px 10px 10px 5px #000000;
  margin-bottom: 50px;
}

/*---Main menu---*/
#main {
  width:100%;
  text-align: right;
}

.menu{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: serif;
  font-stretch: expanded;
  text-shadow: -5px 5px 3px #000000;
}

.menu:visited{
  color: white;
}

.menu:hover{
  transition:all ls easy-in-out;
  -moz-transition:all ls easy-in-out;
  -webkit-transition:all ls easy-in-out;
  transform: translate(-1px, 1px);
  -moz-transform: translate(-1px, 2px);
  -webkit-transform: translate(-1px, 2px);
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 28px;
}
/*---Main menu---END*/

/*---Контент---*/
#content {
  padding: 0 25px 10px 25px;
}

/*---Подвал---*/
footer {
  color: #ffffff;
  margin: 100px 25px 10px 25px;
}