#body {
  width: 100%;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
}

@font-face {
  font-family: 'EkaterinaVelikayaOneRegular';
  src: url('/media/fonts/ekaterina_velikaya_one-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#logo {
  margin: 50px 0 50px 0;
}

section section {
  display: inline-block;
  padding: 5px;
  vertical-align: top;
}

section h1 {
  margin-bottom: 10px;
}

.sub {
  font-size: 70%;
}