section#page_body header#module_header{
    display:block;
    
    margin-bottom:10px;
    
    height:20px;
}

section#page_body aside#module_info{

    border-style:solid;
    border-color:black;
    border-width:thin;

    font-size:12px;
    font-family:serif;
    text-align:justify;
    
    display:inline-block;
    vertical-align:top;
    width:17%;
    margin-right:3px;
    padding:3px;
}

section#page_body section#module_content{
    border-style:solid;
    border-color:black;
    border-width:thin;
    
    display:inline-block;
    width:80%;
    vertical-align:top;

    padding:3px;
}

section#page_body footer#module_footer{
}
