#news {margin: auto;}
#news footer {
    border-top: solid #D83636 thin;
    margin-top: 10px; padding-top: 5px;
}
#news article {margin-bottom: 10px;}
a.current_page {text-decoration: none;}
.small_text {font-size: 80%;}