html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}

body {
  background-color: #B00000;
  color: white;
  width: 100%;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
}

@font-face {
  font-family: 'EkaterinaVelikayaOneRegular';
  src: url('/media/fonts/ekaterina_velikaya_one-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#logo {
  margin: 50px 0 50px 0;
}

footer section {
  display: inline-block;
  padding: 5px;
  vertical-align: top;
}

section h1 {
  margin-bottom: 10px;
}

.sub {
  font-size: 70%;
}

a {
  color: white;
}