{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/media/css/about.css">
{% endblock %}
{% block contentheader %}О Нас
{% endblock %}
{% block content %}
<table>
    <tr>
        <td>
            <img id="promo" src="/media/media/promotion.jpg">
        </td>
        <td valign="top">
            <p>
                Салон красоты  «Арабэлла» более 2 лет дарит своим клиентам возможность стать 
                еще прекраснее. Высокое качество обслуживания и профессионализм мастеров салона 
                быстро завоевали доверие клиентов.
            </p>
            <p>
                Одна из главных черт салона – постоянное совершенствование искусства по 
                созданию Вашей красоты. Мы всегда следим за новинками в мире красоты, поэтому  
                предлагаем полный спектр парикмахерских и маникюрно-педикюрных услуг. Мы делаем 
                все, чтобы в «Арабэлле» процесс преображения стал не только увлекательным, но и  
                приятным, поэтому особое внимание уделяем интерьеру и декору. Кабинет салона 
                просторен и удобен, оформлен современным дизайном.   Все сотрудники салона высоко  
                квалифицированы, имеют специализированное образование и помогают клиенту 
                чувствовать себя уютно и комфортно.
            </p>
        </td>
    </tr>
</table>
{% endblock %}