<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Салон красоты "Арабэлла"</title>
  <link rel="stylesheet" type="text/css" href="/media/css/base.css"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script type="text/javascript" src="/media/js/base.js"></script>
  {% block head %}
  {% endblock head %}
</head>
<body>
  <header id=logo>Лого</header>
  <section id="page_body">
    <nav id="main">
      <ul>
        <li><a class="menu" href="/">Главная</a></li>
        <li><a class="menu" href="services/">Услуги</a></li>
        <li><a class="menu" href=#>Галерея</a></li>
        <li><a class="menu" href=#>Вопрос-Ответ</a></li>
        <li><a class="menu" href="#">О Салоне</a></li>
      </ul>
    </nav>
    <section id="content">
      {% block content %}
      {% endblock content %}
    </section>
    <footer>
      Текущая версия оптимизированна под <a href="http://www.mozilla.com/ru/firefox/">Firefox 4</a>
      <section>Разработка: <a href="http://kolmax.pp.ru">Колчин Максим</a> Дизайн: <a href="#">Гулый Сергей</a></section>
    </footer>
  </section>
</body></html>
