{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/media/css/index.css">
{% endblock %}

{% block content %}
<section id="left">
  <section class="widget">
    <h1>Запись в салон</h1>
    <form method="POST" id="entry">
      <fieldset>
        <ol>
          <li>
            <label for=name>Имя</label>
            <input id=name name=name type="text" required=""/>
          </li>
          <li>
            <label for=phone>Телефон</label>
            <input id=phone name=phone type="text" required=""/>
          </li>
          <li><input type=submit value="Далее"/></li>
        </ol>
      </fieldset>
    </form>
  </section>
  <section class="widget vcard">
    <h1>Наш адрес</h1>
    г.Янаул, ул.Азина, д.27</br>
    ТСЦ "Юбилейный"</br>
    телефон:<span class="tel">+79273052610</span>
  </section>
</section>
<section id="right">
  <section id=news class="widget">
    <h1>Акции и Новости</h1>
    {% for news in news_list %}
    <article>
      <header>
        <h1>{{ news.title }}</h1>
        <p><time pubdate datetime="{{ news.date|date:'cO' }}">{{ news.date|date:'DATE_FORMAT' }}</time></p>
      </header>
      <p>{{ news.text }}</p>
    </article>
    {% endfor %}
  </section>
</section>
{% endblock %}