{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/media/css/index.css">
{% endblock %}

{% block content %}
<p>Подойдите к зеркалу. Кого Вы в нем видите? Красивого цветущего человека с 
прекрасной улыбкой и блеском в глазах. Та же прическа на голове, та же фигура, 
та же кожа... Но все равно, как будто бы чего-то не хватает, или хочется что-то 
изменить? Или надоела прическа, или немного изменилась фигура, или слишком бледная 
кожа...А так хочется блистать красивой стрижкой, быть в центре внимания и покорять 
сердца! Думаю, пора посетить салон красоты. Удивительные преображения начнутся с 
оригинальной стрижки с изменения цвета волос. Мастер маникюра и педикюра выполнит 
наращивание ногтей и поможет приобрести вашим уставшим ножкам легкость</p>

<img id="image" src="/media/media/index.jpg">

<p>Салон красоты "Арабэлла" подарит Вам уверенность в себе, чувство удовольствия 
от жизни и ощущение блаженства!</p>

<p>Красивые ухоженные руки с великолепным наращиванием ногтей сведут с ума любого 
мужчину! Депиляция безболезненно и безопасно избавит от нежелательных волос.</p>

<p>Новая прическа и модная стрижка преобразят Вашу внешность. Надо ли в очередной 
раз откладывать на потом посещение салона красоты? Ведь любовь к другим начинается 
с любви к себе. Так стоит ли себя обделять? Приходите в наш салон красоты по 
адресу ул.Азина 27 ТСЦ " Юбилейный", и Вы получите все самое лучшее, что есть 
сегодня на рынке красоты!</p>
{% endblock %}