{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/media/css/index.css"/>
{% endblock %}
{% block body %}
<section id="body">
  <img id="logo" alt='Логотип салона красоты "Шарм"' src="/media/media/logo.png"/>
  <div>
    <section id="address">
      <header>
        <h1>Адрес:</h1>
      </header>
      <p>г. Янаул, ул.Победы 74, 2-й этаж</p>
      <p class="sub">(здание старого автовокзала)</p>
    </section>
    <section id="contacts">
      <header>
        <h1>Контакты:</h1>
      </header>
      <p>Тел: (34760) 5-47-61</p>
    </section>
    <section id="schedule">
      <header>
        <h1>График работы:</h1>
      </header>
      <p>Пн - Вс 08:30 - 19:30</p>
      <p>Без обеда</p>
    </section>
  </div>
</section>
{% endblock %}