<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Шарм - салон красоты, парикмахерская, маникюр, педикюр, массаж и т.д.</title>
  <meta name="author" content="Maxim Kolchin" />
  <meta name="description" content="Шарм - салон красоты, парикмахерская, маникюр, педикюр, массаж и т.д." />
  <meta name="keywords" content="Янаул,салон,красоты,Шарм,салон красоты,маникюр,педикюр,массаж" />
  <link rel="stylesheet" href="/media/css/preview.css" type="text/css"/>
</head>
<body>
  <section id="logo">
    <img src="/media/media/logo.png" />
  </section>
  <footer>
    <section id="address">
      <header>
        <h1>Адрес:</h1>
      </header>
      <p>г. Янаул, ул.Победы 74, 2-й этаж</p>
      <p class="sub">(здание старого автовокзала)</p>
    </section>
    <section id="contacts">
      <header>
        <h1>Контакты:</h1>
      </header>
      <p>Тел: (34760) 5-47-61</p>
    </section>
    <section id="schedule">
      <header>
        <h1>График работы:</h1>
      </header>
      <p>Пн - Вс 08:30 - 19:30</p>
      <p>Без обеда</p>
    </section>
  </footer>
</body>
</html>