{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/media/js/prices.js"></script>
<link rel="stylesheet" href="/media/css/prices.css">
{% endblock %}

{% block content %}
<article id="prices">
	<section>
		<div class="buttons"><h2>Уход за волосами</h2><a>Развернуть</a></div>
		<div class="more">
			<table>
				<tr><th>Стрижки</th></tr>
				<tr><td>Модельная женская</td><td>170 рублей</td></tr>
    		<tr><td>Стрижка "Лесенка"</td><td>200-250 рублей</td></tr>
				<tr><td>Модельная мужская</td><td>150 рублей</td></tr>
		    <tr><td>Спортивная</td><td>100 рублей</td></tr>
		    <tr><td>Детская до 5 лет</td><td>70 рублей</td></tr>
		    <tr><td>Школьная</td><td>100 рублей</td></tr>
		    <tr><td>Креативная</td><td>200 рублей</td></tr>
		    <tr><td>Стрижка частичная</td><td>100 рублей</td></tr>
		    <tr><td>Подравнивание</td><td>100 рублей</td></tr>
		    <tr><td>Наголо</td><td>50 рублей</td></tr>
				<tr><th>Мелирование</th><td></td></tr>
    		<tr><td>на шапочку</td><td>250-400 рублей</td></tr>
    		<tr><td>на фольгу (1 лист)</td><td>30-40 рублей</td></tr>
				<tr><th>Окрашивание волос</th><td></td></tr>
    		<tr><td>красками фирмы...</td><td>200-500 рублей</td></tr>
    		<tr><td>красками фирмы...</td><td>250-600 рублей</td></tr>
    		<tr><td>красками клиента</td><td>130-220 рублей</td></tr>
				<tr><th>Укладки</th><td></td></tr>
    		<tr><td>феном</td><td>150-350 рублей</td></tr>
    		<tr><td>на бигуди</td><td>100-200 рублей</td></tr>
				<tr><th>Прически</th><td></td></tr>
    		<tr><td>вечерняя</td><td>400-800 рублей</td></tr>
    		<tr><td>свадебная</td><td>400-1000 рублей</td></tr>
				<tr><th>Другие</th><td></td></tr>
    		<tr><td>Колорирование в 2-3 цвета</td><td>450-1000 рублей</td></tr>
    		<tr><td>Обесцвечивание волос</td><td>300-700 рублей</td></tr>
    		<tr><td>Долговременная укладка</td><td>350-550 рублей</td></tr>
    		<tr><td>Химическая завивка</td><td>250-450 рублей</td></tr>
			</table>
		</div>
	</section>
	<section>
		<div class="buttons"><h2>Косметология</h2><a>Развернуть</a></div>
		<div class="more">
			<table>
    		<tr><td>Наращивание ресниц (пучок)</td><td>15 рублей</td></tr>
    		<tr><td>Химическая завивка ресниц</td><td>200 рублей</td></tr>
    		<tr><td>Прокол мочек ушей</td><td>250 рублей</td></tr>
				<tr><td>Оформление бровей</td><td>50-100 рублей</td></tr>
				<tr><td>Окрашивание бровей</td><td>50 рублей</td></tr>
				<tr><td>Окрашивание ресниц</td><td>50 рублей</td></tr>
			</table>
		</div>
	</section>
	<section>
		<div class="buttons"><h2>Маникюр, педикюр</h2><a>Развернуть</a></div>
		<div class="more">
			<table>
				<tr><th>Маникюр</th><td></td></tr>
				<tr><td>гигиенический женский</td><td>120 рублей</td></tr>
    		<tr><td>гигиенический мужской</td><td>260 рублей</td></tr>
				<tr><td>Массаж рук</td><td>30 рублей</td></tr>
    		<tr><td>Покрытие ногтей лаком</td><td>10-40 рублей</td></tr>
    		<tr><td>Снятие лака с ногтей</td><td>10-20 рублей</td></tr>
    		<tr><td>Сушка</td><td>20 рублей</td></tr>
    		<tr><td>Дизайн ногтей</td><td>20-100 рублей</td></tr>
    		<tr><td>Френч</td><td>50 рублей</td></tr>
    		<tr><td>Полировка ногтей с использованием масла</td><td>30 рублей</td></tr>
    		<tr><td>Покрытие ногтей лечебной основой</td><td>30 рублей</td></tr>
				<tr><th>Педикюр</th><td></td></tr>
   			<tr><td>гигиенический женский</td><td>450 рублей</td></tr>
    		<tr><td>гигиенический мужской</td><td>650 рублей</td></tr>
    		<tr><th>Наращивание ногтей</th><td></td></tr>
    		<tr><td>гелем</td><td>800 рублей</td></tr>
    		<tr><td>акрилом</td><td>800 рублей</td></tr>
    		<tr><td>Укрепление ногтей гелем</td><td>600 рублей</td></tr>
    		<tr><td>Коррекция (через 2-3 недели)</td><td>450 рублей</td></tr>
    		<tr><td>Снятие искусственных ногтей (гель)</td><td>200 рублей</td></tr>
    		<tr><td>Снятие искусственных ногтей (акрил)</td><td>300 рублей</td></tr>
			</table>
		</div>
	</section>
</article>
{% endblock %}