{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/media/css/services.css">
{% endblock %}
{% block contentheader %}
Услуги
{% endblock %}
{% block content %}
  <ul>
      <h2>Уход за волосами</h2>
      <li>
          мужской, женский зал;
      </li>
      <li>
          окрашивание;
      </li>
      <li>
          химическая завивка;
      </li>
      <li>
          долговременная укладка;
      </li>
      <li>
          прически вечерние и свадебные;
      </li>
      <li>
          мелирование;
      </li>
      <li>
          колорирование;
      </li>
      <li>
          тонирование;
      </li>
  </ul>
  <ul>
      <h2>Косметология</h2>
      <li>
          макияж вечерний и свадебный;
      </li>
      <li>
          депилляция волос воском;
      </li>
      <li>
          прокол ушей;
      </li>
      <li>
          наращивание ресниц
      </li>
      <li>
          оформление и окрашивание ресниц и бровей
      </li>
  </ul>
  <ul>
      <h2>Уход за ногтями</h2>
      <li>
          маникюр;
      </li>
      <li>
          педикюр;
      </li>
      <li>
          наращивание ногтей (гелем, акрилом на верхних формах);
      </li>
  </ul>
{% endblock %}