{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="/media/css/services.css">
  <script type="text/javascript" src="/media/js/services.js"></script>
{% endblock %}

{% block content %}
  <section id="mod_des">

  </section>
  <aside id="service_list">
    <nav>
      <ul>
      {% for section in section_list %}
        <li>{{ section.title }}</li>
        <ul>
        {% for service in section.get_services %}
          <li><a href="{{ service.id }}">{{ service.title }}</a></li>
        {% endfor %}
        </ul>
      {% endfor %}
      </ul>
    </nav>
  </aside>
  <section id="service_des">
    <h1>Парикмахерский зал</h1>
    <h2>Элюминиромание волос</h2>
    <p>Короткое описание элюминирования волос</p>
    <section>
      <h2>Цены</h2>
      <ul>
        <li><p>Название</p><p>Цена</p></li>
        <li><p>Название</p><p>Цена</p></li>
        <li><p>Название</p><p>Цена</p></li>
      </ul>
    </section>
  </section>
{% endblock %}